* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #303032; */
  background-color: #ffffff;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  /* color: #ecf0f1; */

  color: #000000;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  /* grid-column-end: span 3; */
  height: 270px;
  width: 200px;
  display: flex;
  flex-direction: column;
  /* background-color: #39393b; */
  /* background-color: #fdebd2; */
  background-color: #D4E8D7;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
  grid-column-end: span 4;
  height: 450px;
  width: 260px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #df7a37;
  border-radius: 20px;
}

.favouriteIcon{
  height: 24px;
  width: 24px;
  margin: 0px 20px 0px 0px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

.heart {
  width: 30px;
  background: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top
      left,
    radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
    linear-gradient(to bottom left, red 43%, transparent 43%) bottom left,
    linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}
.heart::before {
  content: "";
  display: block;
  padding-top: 100%;
}
